<div class="container">
  <div class="well">
    <%= link_to "New", new_municipio_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @municipios.each do |municipio| %>
        <tr>
          <td><%= municipio.codigo %></td>
          <td><%= municipio.nombre %></td>
          <td><%= hestado(municipio.estado) %></td>
          <td><%= link_to "Editar", edit_municipio_path(municipio), class: "btn btn-default" %></td>
          <td><%= link_to 'Eliminar', municipio, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
