<div class="container">
  <div class="well">
    <%= link_to "New", new_region_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Municipios</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @regiones.each do |region| %>
        <tr>
          <td><%= region.codigo %></td>
          <td><%= region.nombre %></td>
          <td><%= region.municipios.pluck(:nombre)*", " %></td>
          <td><%= link_to "Editar", edit_region_path(region), class: "btn btn-default" %></td>
          <td><%= link_to 'Eliminar', region, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
